<html>
<head></head>
<body>
<p> This is the signup page </p>

<form method="post" action="/signup">
  <label>
    Firstname:
    <input type="text" name="firstname" />
  </label>
  <label>
    Lastname:
    <input type="text" name="lastname" />
  </label>
  <label>
    Username:
    <input type="text" name="username" />
  </label>
  <label>
    Password:
    <input type="password" name="password" />
  </label>
  <input type="submit" name="submit">
</form>
</body>
</html>