<html>
<title></title>
<body>
  <p> Passing slice using variables in templates </p>
  <ul>
  {{ range $index, $value := . }}
    <li> {{ $index }} - {{ $value }} </li>
  {{ end }}
  </ul>
</body>
</html>