<html>
<head></head>
<body>
<h2> Employee Database </h2>
<form method="post" action="/createData">
  <label> Name:    <input type="text" name="name"> </label>
  <label> Age:     <input type="text" name="age"> </label>
  <label> Posting: <input type="text" name="posting"> </label>
  <label> Salary:  <input type="text" name="salary"> </label>
  <label> Gender:  <input type="text" name="gender"> </label>
  <button type="submit"> Submit </button>
</form>
</body>
</html>