<html>
<head> </head>
<body>
<h2> Employee Database </h2>

<table border="2" id="employees">
  <tr>
    <th> Employee ID </th>
    <th> Employee Name </th>
    <th> Age </th>
    <th> Placement Location </th>
    <th> Salary </th>
    <th> Gender </th>
    <th> Update </th>
    <th> Delete </th>
  </tr>
{{ range $key, $value := . }}
    <tr>
    <td> {{ $value.Empid }}    </td>
    <td> {{ $value.Empname }}  </td>
    <td> {{ $value.Age }}      </td>
    <td> {{ $value.Posting }}  </td>
    <td> {{ $value.Salary }}   </td>
    <td> {{ $value.Sex }}      </td>
    <td> <a href="/updateData?id={{ $value.Empid }}"> update data </button> </a></td>
    <td> <a href="/deleteData?id={{ $value.Empid }}"> delete data </button> </a></td>
    </tr>
{{ end }}

<form method="get" action="/createData">
  <button type="submit"> create user </button>
</form>


</table>
</body>
</html>