<html>
<head></head>
<body>
<h1> Hello Welcome here!!!</h1>
<script>
  document.querySelector("h1").onclick = test;
  function test() {
    var xhr = new XMLHttpRequest();
    xhr.open("GET", "/foo", true);
    xhr.onreadystatechange = function() {
      if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
        var b = document.querySelector("body");
        var headingOne = document.createElement("h1");
        var headingOneText = document.createTextNode(xhr.responseText);
        headingOne.appendChild(headingOneText);
        b.appendChild(headingOne)
      }
    };

    xhr.send();
  }
</script>
</body>
</html>