<html>
<title></title>
<body>
<p> This is an example for formatting time </p>
<div>
The time without formatting is : {{.}}
</div>
<div>
The time with    formatting is : {{format .}}
</div>
</body>
</html>