<html>
<head></head>
<body>
  <form method="post" action="/signup">
    <label>
      Firstname: <input type="text" name="firstname" />
    </label>
    <label>
      Lastname : <input type="text" name="lastname" />
    </label>
    <label>
      Username : <input type="text" name="username" />
    </label>
    <label>
      Password : <input type="password" name="password" />
    </label>
    <label>
      Role     :
        <select name="role">
          <option name="admin"> Admin </option>
          <option name="nonadmin"> Non Admin </option>
        </select>
    </label>
    <input type="submit" value="submit" />
  </form>
</body>
</html>